* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.logo-text {
  /* Fallback: Set a background color. */
  background-color: red;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #0ee794, #f8f8f7);
  font-weight: bold;
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  background-repeat: no-repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.btn:active {
  outline: none;
}
